@import './../vars';

#action-bar {
	background-color: $light-color;
	margin: 20px 0 50px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.action-item {
		&#searchInput {
			width: 70%;
			color: $base-color;
			font-weight: $medium-weight;
		}
	}
	.search-icon {
		width: 20px;
	}
	label {
		font-size: 13px;
		font-weight: $bold-weight;
	}
}
