@import './../vars';

.spinner {
	margin: 0 auto;
	position: relative;
	width: 0;
	height: 0;
	border: 40px solid $accent-color;
	border-right-color: transparent;
	border-radius: 100%;
	animation: rotate 2000ms infinite ease-in;
}

.spinner:after {
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $background-color;
	content: '';
	top: -35px;
	left: -35px;
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
