@import './vars';

body {
	font-family: 'Raleway', sans-serif;
	background-color: $background-color;
	margin: 0;
}

.box {
	box-shadow: 1px 1px 5px lightgrey;
	border-radius: 5px;
	background-color: $light-color;
}
